---
import RamblingList from "components/ramblings/RamblingList.astro";
import FeaturedNote from "components/notes/FeaturedNote.astro";
import Section from "components/controls/Section.astro";
import NoteList from "components/notes/NoteList.astro";
import { getRamblingsIndex } from "utils/ramblings";
import Prose from "components/controls/Prose.astro";
import Hero from "components/controls/Hero.astro";
import { noteStore } from "stores/notes";
import Root from "layouts/Root.astro";

const notes = await noteStore.getRecent({
  includeDrafts: import.meta.env.DEV,
  limit: 5,
});

const ramblings = (await getRamblingsIndex()).slice(0, 20);

const description = "I like building tools, breaking workflows, and putting "
  + "them back together better.";

const links = {
  atproto: "https://atproto.com",
  jujutsu: "https://jj-vcs.dev",
}

---

<Root {description}>
  <Hero title="Hey! I'm Isaac">
    <Prose>
      <p>
        {description} You'll usually find me deep in Rust, hacking on
        <a href={links.atproto}>ATProto</a>, or helping shape
        <a href={links.jujutsu}>Jujutsu</a>.
      </p>
      <p>
        I write about what I learn along the way in my <a href="/notes">notes</a>.
      </p>
    </Prose>
  </Hero>
  <Section
    title="Notes"
    link={{ text: "All notes", href: "/notes" }}
    class="mt-16 sm:mt-10"
  >
    <FeaturedNote class="mb-8 mt-4 hidden sm:block" />
    <NoteList {notes} highlightNew />
  </Section>
  <Section
    title="Ramblings"
    link={{ text: "All ramblings", href: "/ramblings" }}
    class="mt-24 sm:mt-20 gap-6"
  >
    <RamblingList ramblings={ramblings} highlightNew />
  </Section>
</Root>
