---
import Section from "components/controls/Section.astro";
import NoteList from "components/notes/NoteList.astro";
import Hero from "components/controls/Hero.astro";
import { noteStore } from "stores/notes";
import Root from "layouts/Root.astro";

const notes = await noteStore.getRecent({
  includeDrafts: import.meta.env.DEV,
  limit: 10,
});

const description = "I like building tools, breaking workflows, and putting "
  + "them back together better.";

const links = {
  footnotes: "https://tangled.org/@footnotes.social",
  jujutsu: "https://jj-vcs.github.io/jj/latest",
}
---

<Root {description}>
  <Hero title="Hey! I'm Isaac">
    <p>
      {description} You'll usually find me deep in Rust, hacking on
      <a href={links.footnotes}>Footnotes</a>, or helping shape
      <a href={links.jujutsu}>Jujutsu</a>.
    </p>
    <p>
      I write about what I learn along the way in my <a href="/notes">notes</a>.
    </p>
  </Hero>

  <Section title="Notes" link={{ text: "All notes", href: "/notes" }}>
    <NoteList {notes} highlightNew />
  </Section>
</Root>
