---
import Footer from 'components/controls/Footer.astro';
import Header from 'components/controls/Header.astro';
import { articleSchema } from "utils/openGraph";
import { z } from "astro:content";

const layoutProps = z.object({
	image: z.string().default("https://isaaccorbrey.com/profile.png"),
	properties: articleSchema.default({}),
	type: z.string().default("website"),
	title: z.string().optional(),
	path: z
		.string()
		.transform((p) => `https://isaaccorbrey.com${p}`)
		.default(""),
	description: z
		.string()
		.transform((d) => d.trim())
		.optional(),
});

type Props = z.input<typeof layoutProps>;
const props = layoutProps.parse(Astro.props);

const defaultOgTitle = "Hey! I'm Isaac";
const siteName = "Isaac Corbrey";
---

<!doctype html>
<html lang="en" class="w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" /><link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Fira+Code:wght@300..700&display=swap"
			rel="stylesheet"
		/>

		<title>{[props.title, siteName].filter(Boolean).join(" - ")}</title>

		<meta property="og:url" content={props.path} />
		<meta property="og:site_name" content={siteName} />
		<meta property="og:title" content={props.title ?? defaultOgTitle} />
		{
			props.description && (
				<meta name="description" content={props.description} />
				<meta property="og:description" content={props.description} />
			)
		}
		<meta property="og:image" content={props.image} />
		<meta property="og:type" content={props.type} />
		{
			Object.entries(props.properties).map(([key, content]) =>
				[]
					.concat(content as any)
					.filter(Boolean)
					.map((content) => (
						<meta property={`og:${key}`} {content} />
					)),
			)
		}
	</head>
	<body class="w-full h-full flex items-stretch justify-center bg-bg-1 text-fg-2 font-display">
		<div class="flex flex-col items-start w-full max-w-3xl">
			<Header />
			<slot />
			<Footer />
		</div>
	</body>
</html>
