---
import ScreenColumn from "../controls/ScreenColumn.svelte";
import Footer from "../controls/Footer.svelte";
import Header from "../controls/Header.svelte";
import "../style/global.css";

interface Props {
	properties?: [string, string][];
	description: string;
	imageUrl?: string;
	title?: string;
	path?: string;
	type?: string;
}

const imageUrl = Astro.props.imageUrl ?? "https://isaaccorbrey.com/profile.png";
const description = Astro.props.description ?? "No description provided.";
const permanentUrl = `https://isaaccorbrey.com${Astro.props.path ?? ""}`;
const properties = Astro.props.properties ?? [];
const type = Astro.props.type ?? "website";
const title = Astro.props.title ?? "Hey! I'm Isaac";
const siteName = "Isaac Corbrey";

const htmlTitle = [Astro.props.title, siteName].filter(Boolean).join(" - ");
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{htmlTitle}</title>

		<meta property="og:site_name" content={siteName} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content={type} />
		<meta property="og:url" content={permanentUrl} />
		<meta property="og:image" content={imageUrl} />

		{
			properties.map(([key, content]) => (
				<meta property={"og:" + key} {content} />
			))
		}
	</head>
	<body>
		<ScreenColumn>
			<Header />
			<slot />
			<Footer />
		</ScreenColumn>
	</body>
</html>
